@font-face {
    font-family: 'thai_sans_literegular';
    src: url('../fonts/thaisanslite_r1-webfont.eot');
    src: url('../fonts/thaisanslite_r1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thaisanslite_r1-webfont.woff2') format('woff2'),
         url('../fonts/thaisanslite_r1-webfont.woff') format('woff'),
         url('../fonts/thaisanslite_r1-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,body{
	height: 100%;
	font-family: 'thai_sans_literegular','arial';
}
a {text-decoration: none !important;}
a {color:white;}      
a:visited {color:white;} 
a:hover {color:white;}  
a:active {color:white;}  

.shadow{
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}
.col-md-1{
	position: relative;
	overflow: hidden;
}
.col-md-2{
	position: relative;
	overflow: hidden;

}
.col-md-3{
	position: relative;
	overflow: hidden;
}
.col-md-4{
	position: relative;
	overflow: hidden;
}
.col-md-5{
	position: relative;
	overflow: hidden;
}
.col-md-6{
	position: relative;
	overflow: hidden;
}
.col-md-7{
	position: relative;
	overflow: hidden;
}
.col-md-8{
	position: relative;
	overflow: hidden;
}
.r1{
	background: url(../images/background.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	opacity: 0.8;
	min-height: 514px;
	overflow: hidden;
}
.r2{
	min-height: 355px;
	text-align: center;
	background-color: #f2f3f7 ;
	overflow: hidden;
}
.r3{
	min-height: 493px;
	text-align: center;
	overflow: hidden;
}
.r4{
	min-height: 493px;
	text-align: center;
	background-color: #f2f3f7 ;
	overflow: hidden;
}
.r5{
	min-height: 236px;
	text-align: center;
	background-color: #224e6b ;
	overflow: hidden;
}
.r6{
	min-height: 502px;
	text-align: center;
	background-color: #ffffff ;
	overflow: hidden;
}
.r7{
	min-height: 165px;
	text-align: center;
	background-color: #224e6b ;
	overflow: hidden;
}
.r8{
	min-height: 375px;
	text-align: center;
	background-color: #0b2f47;
	overflow: hidden;
}
.questio-sword{
	width: 150px;
	height: 150px;
}
.center{
	margin-top: 50px;
}
.form-control{
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	margin-top: 10%;
	width: 60%;
}
.text-white{
	color: white;
}
.text-gray{
	color:gray;
}
.text-gray50{
	color : #6b6b6b;
}
.text-gray80{
	color: #5a5a5a;
}
.text-blue-title{
	color:#29789d;
}
.text-questio-title{
	color: #39b5eb;
}
.questio-mini-logo{
	width: 30px;
	height: 30px;
}
.questio-menu-logo{
	width: 20px;
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.questio-logo{
	width: 320px;
	height: 320px;
}
.questio-avatar{
	width: 122px;
	height: 265px;
}
.questio-temple{
	width: 282px;
	height: 231px;
}
.questio-sword{

}
.feat-dummy-logo{
	max-width: 340px;
	width: 65%;
}
.modal-body{
	text-align: center;
}
.size{
	max-width: 800px;
	max-height: 900px;
	border-radius: 15px;
}
.font-white{
	color: white;
}
.modal-title{
	margin: auto;
	text-align: center;
}
@media only screen and (max-width: 990px) {
	.r7 .form-control{
		margin: auto;
	}
}
.header-left{
	text-align: center;
	background-color: #39b5eb;
	float: left;
	height: 100%;
	width: 200px;
	text-align: center;
}
.header-mid{
	text-align: center;
	background-color: white;
	float: left;
	padding-top: 5px;
	height: 100%;
	width: calc(100% - 400px);
}
.header-right{
	text-align: left;
	background-color: white;
	float: right;
	padding-top: 5px;
	height: 100%;
	width: 200px;
}
.header-float > *{
	display: inline-block;
	padding-top: 6px;
}
header{
	height: 50px;
	width: 100%;
	background-color: black;
}
.wrapper{
	height: calc(100% - 55px);
	border-top: solid 1px gray;
}
.wrapper-l{
	padding-top: 10px;
	padding-bottom: 15px;
	border-bottom: solid gray 1px;
	width: 100%;
}
.wrapper-m{
	padding-top: 15px;
	padding-bottom: 20px;
	border-bottom: solid gray 1px;
	width: 100%;
}
.wrapper-r{
	padding-top: 15px;
	padding-bottom: 20px;
	border-bottom: solid gray 1px;
	width: 100%;
}
.wrapper-align-left{
	text-align: center;
	background-color: #404b5f;
	float: left;
	height: 100%;
	width: 200px;
}
.wrapper-align-mid{
	text-align: center;
	background-color: #edf2f6;
	float: left;
	padding-top: 15px;
	height: 100%;
	width: calc(100% - 400px);
}
.wrapper-align-right{
	text-align: center;
	background-color: white;
	float: right;
	padding-top: 15px;
	float: left;
	height: 100%;
	width: 200px;
}
.align-menu{
	text-align: left;
	padding: 0px;
}

.align-menu li{
	padding: 0 0 0 10px;
}

.align-menu li:hover{
	background-color: #4f5f79;
}

li{
	list-style: none;
}
.li-margin{
	margin:20px;
}
.footer{
	height: 5px;
	width: 100%;
	background-color: #93a3b0;
}
.input-search{
	width: 100%;
	height: 30px;
	border-color: transparent;
}
.button-search{
	width: 100px;
}
.style-mail-icon{
	width:12%;
	margin-top:5px;
	margin-bottom:5px;
}
.r1-register{
	background: url(../images/bg_register.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	text-align: center;
	opacity: 0.8;
	min-height: 150px;
	overflow: hidden;
}
.container-fluid{
	text-align: center;

}
.register-margin{
	margin-top: 5px;
	margin-bottom: 5px;
}
.r1-register .text-white{
	text-align: center;
}
.register-box{
	border-radius: 5px;
	border-style: solid;
	border-color: gray;
	border-width: 0.3px;
	outline: 0 none;
	border-opacity:0.1;
}

#map {
	width: 100%;
	height: 400px;
	background-color: #CCC;

}
.r1-add-place{
	background: url(../images/bg_register.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	text-align: center;
	opacity: 0.8;
	min-height: 150px;
	overflow: hidden;
}
.container-fluid {
	padding :0px;
}
.forget-footer{
	margin-top: 215px;
	height: 200px;
	width: 100%;
	background-color: #f2f2f2;
}